input[type="checkbox"] {
    display: none;
}

label {
    display: block;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
}

label:hover {
    background-color: #ddd;
}

.content {
    display: none;
    overflow: hidden;
    padding: 10px;
    border-top: 1px solid #ddd;
}

input:checked + label + .content {
    display: block;
}
